[submodule "build/yasio"]
	path = build/yasio
	url = https://github.com/yasio/yasio
	branch = master
[submodule "build/lua-cjson"]
	path = build/lua-cjson
	url = https://github.com/simdsoft/lua-cjson
	branch = master
[submodule "build/protoc-gen-lua"]
	path = build/protoc-gen-lua
	url = https://github.com/simdsoft/protoc-gen-lua
	branch = master
[submodule "build/zlib"]
	path = build/zlib
	url = https://github.com/simdsoft/zlib
[submodule "build/lua-protobuf"]
	path = build/lua-protobuf
	url = https://github.com/starwing/lua-protobuf
[submodule "build/c-ares"]
	path = build/c-ares
	url = https://github.com/c-ares/c-ares
