[submodule "build/yasio"]
	path = build/yasio
	url = https://github.com/halx99/yasio
[submodule "build/lua-cjson"]
	path = build/lua-cjson
	url = https://github.com/halx99/lua-cjson
[submodule "build/protoc-gen-lua"]
	path = build/protoc-gen-lua
	url = https://github.com/halx99/protoc-gen-lua
